.top-bar {
  @apply fixed flex w-full flex bg-gray-100;
  height: 60px;
}

.top-bar-container {
  @apply w-full px-3;
}

.app-logo {
  @apply flex-grow-0 text-3xl font-bold py-3 text-center;
  color: #1875f0;
  width: 317px;
}

.app-searchbar {
  @apply w-1/4 h-full m-0 p-0 py-3 relative;
}

.app-searchbar-icon {
  @apply absolute inset-y-auto;
  left: 2px;
  top: 25px;
}

.app-searchbar-input {
  @apply border-0 w-full text-gray-500;
  padding-left: 15px;
  background-color: transparent;
  font-size: 13px;
}

.app-searchbar-input:hover,
.app-searchbar-input:focus {
  @apply border-0 border-b border-blue-300;
  outline: 0px;
}

.app-container {
  @apply flex w-full;
  padding-top: 60px;
}

.sidebar {
  @apply flex-grow-0 bg-gray-400;
  width: 256px;
  min-height: calc(100vh - 60px);
  max-height: 1100px;
}

.content-section {
  @apply flex-grow bg-gray-500;
  min-height: calc(100vh - 60px);
}
