@tailwind base;
/* @tailwind utilities; */

body {
  color: "#647787";
}

.top-bar {
  @apply fixed flex w-full flex bg-gray-100;
  height: 60px;
  box-shadow: 0px -1px 2px 2px #e5e5e5;
}

.top-bar-container {
  @apply w-full px-3 flex justify-between;
}

.topbar-meta {
  @apply flex;
}

.topbar-meta > * {
  @apply p-2 m-2 relative;
}

.topbar-meta-user {
  @apply flex;
}
.topbar-meta-user-info {
  @apply mr-2;
}

.topbar-meta-user-greeting {
  @apply text-right;
  font-size: 0.75rem;
  line-height: 0.5;
}

/* .topbar-meta-bell-icon {
  @apply relative;
} */

.topbar-meta-icon:before {
  @apply absolute text-white text-sm text-center;
  content: attr(data-count);
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #1860ec;
  right: 5px;
  font-size: 10px;
  top: 3px;
}

.avatar-image {
  border-radius: 100%;
}

.app-logo {
  @apply flex-grow-0 text-3xl font-bold py-3 text-center;
  color: #1875f0;
  width: 317px;
}

.app-searchbar {
  @apply w-1/4 h-full m-0 p-0 py-3 relative flex-grow;
}

.app-searchbar-icon {
  @apply absolute inset-y-auto;
  left: 2px;
  top: 25px;
}

.app-searchbar-input {
  @apply border-0 w-full text-gray-500;
  padding-left: 15px;
  background-color: transparent;
  font-size: 13px;
}

.app-searchbar-input:hover,
.app-searchbar-input:focus {
  @apply border-0 border-b border-blue-300;
  outline: 0px;
}

.app-container {
  @apply flex w-full;
  padding-top: 60px;
}

.sidebar {
  @apply flex-grow-0;
  width: 256px;
  min-height: calc(100vh - 60px);
  max-height: 1100px;
  box-shadow: inset -2px -6px 4px -2px #e5e5e5;
}

.btn {
  @apply px-3 py-2 rounded-full font-bold;
}

.btn-green {
  @apply text-gray-100;
  background-color: #27ae60;
}

.sidebar-container {
  @apply flex flex-wrap;
}

.sidebar-action-button-container {
  @apply px-2 py-3 my-3 text-center w-full;
}

.sidebar-nav-container {
  @apply w-full flex flex-wrap;
}

.sidebar-nav-group {
  @apply w-full my-3;
}

.sidebar-nav-group-title {
  @apply px-2;
  font-size: 11px;
}
.sidebar-nav-item {
  @apply w-full relative px-3 py-3 flex;
  overflow: hidden;
  transition: padding background-color 1s;
}

.sidebar-nav-item::before {
  @apply bg-gray-500 absolute;
  content: "";
  width: 0px;
  transition: width 0.3s;

  /* background-color: ; */
  /* position: relative; */
  height: 100%;
  left: 0;
  top: 0;
}

.sidebar-nav-item:hover {
  @apply bg-gray-100 pl-5;
  cursor: pointer;
}

.sidebar-nav-item:hover::before {
  width: 3px;
}

.sidebar-nav-item-icon {
  @apply w-2/12;
}

.sidebar-nav-item-link {
  @apply w-10/12;
  font-size: 11px;
}

.content-section {
  @apply flex-grow p-5;
  min-height: calc(100vh - 60px);
  background-color: #e5e5e5;
  /* width: 256px; */
  overflow: hidden;
  width: calc(100vw - 256px);
}

.main-content-container {
  @apply w-full flex flex-wrap;
}

.info-box-conatainer {
  @apply w-full flex flex-wrap justify-between;
}

.info-box-section {
  @apply w-5/12 flex;
}

.info-box {
  @apply w-1/2 bg-gray-100 p-3 my-2 rounded shadow;
  transform: margin background-color 0.1s;
}

.info-box:hover {
  @apply my-1 bg-gray-200;
}

.info-box:first-of-type {
  @apply mr-2;
}

.info-box-title,
.info-box-value {
  display: block;
}

.info-box-title {
  color: #787c90;
  font-size: 11px;
}

info-box-value {
  @apply font-bold;
  font-size: 18px;
}

.graph-insight-container {
  @apply mt-5 rounded shadow;
}
.graph-insight-container,
.graph-controls-container {
  @apply flex w-full justify-between flex-wrap;
}

.graph-controls-container {
  @apply h-2;
}

.graph-date {
  @apply w-2/5 font-bold;
}

.graph-controls {
  @apply flex;
}

.graph {
  /* @apply w-full; */
}

.graph-container {
  @apply flex flex-wrap bg-gray-100 rounded shadow p-3;
  width: 65.66667%;
  margin-right: 0.3%;
}

.insight-container {
  @apply w-2/6;
}

.graph-control {
  @apply px-3 pt-2 mx-2 rounded bg-gray-200;
  font-weight: small;
  font-size: 15px;
  cursor: pointer;
}

.graph-control::hover {
  @apply bg-gray-400 shadow;
}

.graph-controls select {
  @apply p-2 rounded bg-gray-200 border;
}
.graph {
  @apply h-5;
}

.insight {
  @apply w-full p-3 border-b shadow bg-gray-100 mb-1 rounded;
}

.insight:last-of-type {
  @apply mb-0;
}

.insight-title {
  @apply font-bold;
}

.insight-progress {
  @apply relative block w-full my-3 mb-5;
}

.insight-progress::after,
.insight-progress::before {
  @apply absolute h-2 w-full;
  content: " ";
  background: red;
  top: -10px;
}

.insight-progress::before {
  @apply w-4/5;
  background-color: #27ae60;
  left: 0px;
}

.insight-progress::after {
  @apply w-1/5;
  background-color: #fdc203;
  right: 0px;
}

.insight-info {
  @apply mb-1;
  font-size: 14px;
}

.insight-info-text {
  @apply font-bold;
}

.insight-info-text-yellow {
  color: #fdc203;
}

.insight-info-text-blue {
  color: #1860ec;
}

.insight-info-text-green {
  color: #27ae60;
}
