.top-bar {
  position: fixed;
  display: flex;
  width: 100%;
  display: flex;
  background-color: #f7fafc;
  height: 60px;
}

.top-bar-container {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.app-logo {
  flex-grow: 0;
  font-size: 1.875rem;
  font-weight: 700;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  color: #1875f0;
  width: 317px;
}

.app-searchbar {
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
  flex-grow: 1;
}

.app-searchbar-icon {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 2px;
  top: 25px;
}

.app-searchbar-input {
  border-width: 0;
  width: 100%;
  color: #a0aec0;
  padding-left: 15px;
  background-color: transparent;
  font-size: 13px;
}

.app-searchbar-input:hover,
.app-searchbar-input:focus {
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #90cdf4;
  outline: 0px;
}

.app-container {
  display: flex;
  width: 100%;
  padding-top: 60px;
}

.sidebar {
  flex-grow: 0;
  background-color: #cbd5e0;
  width: 256px;
  min-height: calc(100vh - 60px);
  max-height: 1100px;
}

.content-section {
  flex-grow: 1;
  background-color: #a0aec0;
  min-height: calc(100vh - 60px);
}
