.top-bar {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #f7fafc;
  height: 60px;
}

.app-logo {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: #1875f0;
  width: 256px;
}

.app-container {
  display: flex;
  width: 100%;
  padding-top: 60px;
}

.sidebar {
  flex-grow: 0;
  background-color: #cbd5e0;
  width: 256px;
  min-height: calc(100vh - 60px);
  max-height: 1100px;
}

.content-section {
  flex-grow: 1;
  background-color: #a0aec0;
  min-height: calc(100vh - 60px);
}
